version: 0.7.0.{build}
pull_requests:
  do_not_increment_build_number: true
branches:
  only:
  - master
  - develop/feat-dotnet-10
# Use Visual Studio 2022 for .NET 10 SDK support and C++ v143 toolset
image: Visual Studio 2022
environment:
  OLW_CONFIG: Release
  OlwBloggerClientId: 597389294595-271ukaucs8ghmc6c6cnhrbef2c02g5qa.apps.googleusercontent.com
  OlwBloggerClientSecret:
    secure: ym7cbPINJz58iEgVlQCDbRz2W1CTYnxWsvMpMvxHFY4=
  SignClientSecret:
    secure: Ks35w5ZOk78Bla9953hrhvDm2+t2NY83VgI+IcW92L0=
  SignClientUser:
    secure: v2LT5VnPWsq3/aLDN0xsyNjdwCZutUSH8CS/htCB8yXbzmwWrQIWs7TvJdrFqZB+
nuget:
  disable_publish_on_pr: true
install:
  # Install .NET 10 SDK (required for the migration)
  - ps: |
      $dotnetVersion = "10.0.102"
      $dotnetUrl = "https://dotnetcli.azureedge.net/dotnet/Sdk/$dotnetVersion/dotnet-sdk-$dotnetVersion-win-x64.exe"
      Write-Host "Installing .NET SDK $dotnetVersion..."
      Invoke-WebRequest -Uri $dotnetUrl -OutFile dotnet-sdk.exe
      Start-Process -FilePath dotnet-sdk.exe -ArgumentList "/install", "/quiet", "/norestart" -Wait
      $env:PATH = "C:\Program Files\dotnet;$env:PATH"
      dotnet --version
  - cmd: nuget install SignClient -Version 0.9.0 -SolutionDir %APPVEYOR_BUILD_FOLDER% -Verbosity quiet -ExcludeVersion
build_script:
  - cmd: rmdir C:\Tools\vcpkg /q /s 
  - cmd: ./build.cmd
test_script:
  - ps: |
      Write-Host "Running tests..."
      dotnet test src\managed\OpenLiveWriter.Tests\OpenLiveWriter.Tests.csproj --no-build --logger "trx;LogFileName=testresults.trx"
      dotnet test src\managed\OpenLiveWriter.UnitTest\OpenLiveWriter.UnitTest.csproj --no-build --logger "trx;LogFileName=unittestresults.trx" || true
after_build:
  - ps: '.\SignClient\Sign-Package.ps1'  
artifacts:
- path: releases\*
  name: Setup
- path: '**\*.trx'
  name: TestResults
deploy:
- provider: AzureBlob
  storage_account_name: olw
  storage_access_key:
    secure: GruVAC0VrJlbCP3AYz5XownU5bxltZBuGinJ9KwdedM12B07msVLwLYWAsWfWA8Cq6xxt3QN2tKMsDnkzSxSenYFBHZEkGXwRdmh9K/a9jReoNUeQukP/RXRqsS0otFh
  container: nightly
  on:
    branch: master
